NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

ELEVENLABS_API_KEY= 
ELEVENLABS_VOICE_ID=
ELEVENLABS_STT_MODEL_ID=scribe_v2
ELEVENLABS_TTS_MODEL_ID=eleven_multilingual_v2

SOLANA_RPC_URL=https://api.devnet.solana.com
DEMO_WALLET_SECRET_KEY=
DEMO_REAL_SEND=false
NEXT_PUBLIC_PLUTO_PROGRAM_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
